<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <script src="../scripts/handlebars-v4.7.7.js"></script>
</head>
<body>
    <h1>Photo Gallery</h1>

    <h3>Filter by</h3>

    <!-- section for current filter by tags-->
    <div id="currently-tagged-section-index"></div>
    <script id="current-tag-area-index" type="text/x-handlebars-template">
        <div>
            {{#each currentTagList}}
            <label for="{{{this}}}">{{this}}</label>
            <button value="{{{this}}}" onclick="removeTagFromList(this.value);">x</button>
            {{/each}}
        </div>
    </script>

    <!--/ display section for all tags -->
    <div id="tag-filter-section"></div>
    <script id="tag-data" type="text/x-handlebars-template">
        <div>
            <h4>Available Tags</h4>
            {{#each tags}}
            <button value="{{{tagName}}}" onclick="addTagToList(this.value);">{{tagName}}</button>
            {{/each}}
        </div>
    </script>

    <div>
        <input id="new-tag-input" type="text" placeholder="New tag name">
        <button onclick="addNewTag();">Add Tag</button>
    </div>

    <h2>My Photos</h2>

    <!--/ display section for all images -->
    <div id="photo-gallery"></div>
    <script id="photo-data" type="text/x-handlebars-template">
        <div>
            {{#each images}}
            <img src="{{imageUrl}}" alt="{{imageUrl}}">
            <h5>Tags</h5>
            <div>
                {{#each imageTags}}
                <span>{{this.tagName}}</span>
                {{/each}}
            </div>
            <h4>{{imageUrl}}</h4>
            {{/each}}
        </div>
    </script>

    <a href="add-image.html">Add new image</a>
    

    

    
    <script src="../scripts/index.js"></script>
    
</body>
</html>