<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/index.css">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="../scripts/handlebars-v4.7.7.js"></script>
    
</head>

<body>
    <h1>Photo Gallery</h1>

    <h3>Filter by</h3>

    <!-- section for current filter by tags-->

        <div class="container" id="currently-tagged-section-index"></div>
        <script id="current-tag-area-index" type="text/x-handlebars-template">
            <div>
                {{#each currentTagList}}
                <label for="{{{this}}}">{{this}}</label>
                <button value="{{{this}}}" onclick="removeTagFromList(this.value);">x</button>
                {{/each}}
            </div>
        </script>

    

    <!--/ display section for all tags -->
    <div class="container" id="tag-filter-section"></div>
    <script id="tag-data" type="text/x-handlebars-template">
        <div class="row">
            <h4>Available Tags</h4>
            {{#each tags}}
            <div class="col-auto">
                <button class="btn btn-outline-secondary btn-sm rounded-pill" value="{{{tagName}}}" onclick="addTagToList(this.value);">{{tagName}}</button>
            </div>
        
            {{/each}}
        </div>
    </script>

    <form novalidate onsubmit="addNewTag();">
        <div class="input-group">
            <input class="form-control" id="new-tag-input" type="text" placeholder="New tag name" required>
            <button type="submit" class="btn btn-primary">Add Tag</button>
            <div class="invalid-feedback">Cannot leave empty</div>
        </div>
    </form>
    

    <h2>My Photos</h2>

    <!--/ display section for all images -->
    <div class="container" id="photo-gallery"></div>
    <script id="photo-data" type="text/x-handlebars-template">
        <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4">
            {{#each images}}
            <div class="col-12">
                <div class="card">
                    <img class="card-img-top" src="{{imageUrl}}" alt="{{imageUrl}}">
                    <div class="card-footer">
                        <h5>Tags</h5>
                        <button class="btn btn-primary btn-sm" value="{{{id}}}" onclick="editTagList(this.value);">Edit</button>
                        <div id="tagsFor{{{id}}}">
                            <div id="currentTagsFor{{{id}}}">
                                {{#each imageTags}}
                                <span id="tagId{{{this.tagName}}}">{{this.tagName}}</span>
                                <button id="removeButton{{{this.tagName}}}" value="{{{this.tagName}}}-{{{../id}}}"
                                    class="removeButton hidden" onclick="removeTagFromEditList(this.value);">x</button>
                                {{/each}}
                            </div>
                            <div id="newTagInput" class="hidden">
                                <input id="newTagFor{{{id}}}" type="text" name="updateTag" placeholder="new Tag">
                                <button value="{{{id}}}" onclick="addTagToEditList(this.value);">Add</button>
                            </div>
                        </div>
                        <h4>{{imageUrl}}</h4>
                        <button value="{{{id}}}" onclick="deleteImage(this.value);">Delete</button>
                    </div>
                </div>
                
                
            </div>
        {{/each}}
        </div>
        
        
    </script>

    <a href="add-image.html">Add new image</a>




    
    <script src="../scripts/index.js"></script>

</body>

</html>